body {
  background-color: ivory;
}

.logo {
  color: navy;
  font-size: 5vw;
  font-family: cursive;
  text-align: center;
  padding-top: 4px;
  text-shadow: 1px 1px 1px navy;
}

.login-logo {
  margin-bottom: 5%;
}

.banner {
  background-color: #68b1dd;
}

.alert-message {
  text-align: center;
  color: white;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

footer {
}

.welcome {
  text-align: center;
  font-size: 4vh;
  color: blue;
  font-family: sans-serif;
  margin-top: 15vh;
}

.welcome-home {
  font-size: 2vh;
  margin-top: 1vh;
}

.logout {

}

.page-text {
  font-size: 2vh;
  margin-top: 6px;
  margin-bottom: 6px;
}

.title {
  color: navy;
}

.form-control {
  width: auto;
  height: 3vh;
  padding: 12px;
}

.new-event-button {
  margin-top: 24px;
  margin-bottom: 12px;
  height: auto;
}

.calendar-day {
  border: 3px solid navy;
  background-color: #68b1dd;
  height: 200px;
}

.modal-title {
}

.modal-header {
  border-bottom: 5px solid black;
}

.modal-footer {
  border-top: 5px solid black;
}

.modal-content {
  border-radius: 15px;
  background-color: #68b1dd;
}

/*
* Event Table
*/
.event-table-header {
  width: 1vw;
}

.event-table-name {
  width: 16.5vw;
  text-align: center;
}

.event-table-desc {
  width: 54vw;
  text-align: center;
}

.event-table-start {
  width: 5vw;
  text-align: center;
}

.event-table-end {
  width: 5vw;
  text-align: center;
}

.event-table-button {
  width: 6.5vw;
  text-align: center;
}

.display-date {
  width: 124px;
}

.new-event-input {
  width: 29vw;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid navy;
}

.date-pickers .form-control {
  font-size: .75em;
  height: 10px;
  padding: 11px;
}

.date-pickers .btn {
  font-size: .75em;
  padding: 1px 2px;
  border-radius: 6px;
}

.well {
  width: 248px;
  border-radius: 3px;
}

.well .uib-weeks .btn-sm {
  width: 28px;
}

.uib-daypicker .pull-left {
  width: 28px;
}

@media (max-width: 500px) {
    .login-logo {
      margin-top: 15vh;
      font-size: 8vw;
    }
    .login-form {
      font-size: 2vw;
    }
    .new-event-button {
      font-size: 2.5vw;
    }
}
@media (max-width: 767px) {
    .login-logo {
      margin-top: 15vh;
      font-size: 12vw;
    }
    .login-form {
      font-size: 3vw;
    }
    .new-event-button {
      font-size: 2vw;
    }
}
@media (min-width: 768px) {
    .login-logo {
      margin-top: 15vh;
      font-size: 8vw;
    }
    .login-form {
      font-size: 1.5vw;
    }
    .new-event-button {
      font-size: 1vw;
    }
}

.login-form {
  width: 100%;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

.login-button {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 6px;
}

.register-button {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

.btn {
  border-radius: 10px;
}
