body {
  background-color: ivory;
}

.logo {
  color: navy;
  font-size: 5vw;
  font-family: cursive;
  text-align: center;
  padding-top: 4px;
  text-shadow: 1px 1px 1px navy;
}

.login-logo {
  margin-bottom: 5%;
}

.banner {
  background-color: #68b1dd;
}

.alert-message {
  text-align: center;
  color: red;
}

footer {
}

.welcome {
  text-align: center;
  font-size: 4vh;
  color: blue;
  font-family: sans-serif;
  margin-top: 15vh;
}

.welcome-home {
  
  font-size: 2vh;
  margin-top: 1vh;
}

.logout {

}

.page-text {
  font-size: 2vh;
  margin-top: 6px;
  margin-bottom: 6px;
}

@media (max-width: 500px) {
    .login-logo {
      margin-top: 15vh;
      font-size: 8vw;
    }
    .login-form {
      font-size: 2vw;
    }
}
@media (max-width: 767px) {
    .login-logo {
      margin-top: 15vh;
      font-size: 12vw;
    }
    .login-form {
      font-size: 3vw;
    }
}
@media (min-width: 768px) {
    .login-logo {
      margin-top: 15vh;
      font-size: 8vw;
    }
    .login-form {
      font-size: 1.5vw;
    }
}

.login-form {
  width: 100%;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

.login-button {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 6px;
}

.register-button {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}
