<div class="container banner col-xs-12">
  <div class="logo col-xs-8 col-xs-offset-2">
    EventFULL
  </div>
  <div class="logout col-xs-2">
    <a ng-click="hc.logout()">Logout</a>
    <!-- <h3 class="welcome welcome-home">Welcome {{ hc.userName }}!</h3> -->
  </div>
</div>

<div class="container col-xs-12">
  <!-- upcoming events -->
  <div class="upcoming-events col-xs-12">
    <div class="col-xs-9 col-md-11">
      <h3 class="title">Upcoming Events</h3>
    </div>
    <div class="col-xs-3 col-md-1">
      <button type="button" class="new-event-button btn btn-success" ng-click="hc.open()">New Event</button>
    </div>
    <table class="event-table table table-striped">
      <tbody>
        <th class="event-table-header">
          <td class="event-table-name"><strong>Name</strong></td>
          <td class="event-table-desc"><strong>Description</strong></td>
          <td class="event-table-start"><strong>Start Date</strong></td>
          <td class="event-table-end"><strong>End Date</strong></td>
          <td class="event-table-button"><strong>View Event</strong></td>
        </th>
        <tr ng-repeat="event in hc.currentEventsArray">
          <td></td>
          <td>{{ event.name }}</td>
          <td>{{ event.description }}</td>
          <td><input type="text" class="form-control display-date" uib-datepicker-popup="MMMM-dd-yyyy" ng-readOnly="true" ng-model="event.start_date.dateString"></td>
          <td><input type="text" class="form-control display-date" uib-datepicker-popup="MMMM-dd-yyyy" ng-readOnly="true" ng-model="event.end_date.dateString"></td>
          <td><button type="button" ng-click="hc.viewEvent(event.id)" class="btn btn-info">View</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- past events -->
  <div class="past-events col-xs-12" ng-if="hc.pastEventsArray.length">
    <div class="col-xs-12">
      <h3 class="title">Past Events</h3>
    </div>

    <table class="event-table table table-striped">
      <tbody>
        <th class="event-table-header">
          <td class="event-table-name"><strong>Name</strong></td>
          <td class="event-table-desc"><strong>Description</strong></td>
          <td class="event-table-start"><strong>Start Date</strong></td>
          <td class="event-table-end"><strong>End Date</strong></td>
          <td class="event-table-button"><strong>View Event</strong></td>
        </th>
        <tr ng-repeat="event in hc.pastEventsArray">
          <td></td>
          <td>{{ event.name }}</td>
          <td>{{ event.description }}</td>
          <td><input type="text" class="form-control display-date" uib-datepicker-popup="MMMM-dd-yyyy"  ng-readOnly="true" ng-model="event.start_date.dateString"></td>
          <td><input type="text" class="form-control display-date" uib-datepicker-popup="MMMM-dd-yyyy" ng-readOnly="true" ng-model="event.end_date.dateString"></td>
          <td><button type="button" ng-click="hc.viewEvent(event.id)" class="btn btn-info">View</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- create new event modal -->
  <div class="create-event-modal container">
      <script type="text/ng-template" id="createEventModal.html">
          <div class="modal-header">
              <h3 class="modal-title title" id="modal-title"><strong>Create New Event</strong></h3>
          </div>
          <div class="modal-body" id="modal-body">
            <input type="text" class="form-control new-event-input" ng-model="cem.newEventName" placeholder="New Event Name" autofocus="">
            <textarea class="new-event-input" rows="4" ng-model="cem.newEventDescription" placeholder=" Event Description"></textarea>
            <!-- <input type="text" class="form-control" ng-model="cem.newEventDescription" placeholder="Event Description"> -->
            <div class="container">

              <div style="display:inline-block; min-height: 290px;" class="date-pickers col-xs-3">
                <p><strong>Start Date</strong></p>
                <div uib-datepicker ng-model="cem.start_date" class="well well-sm" datepicker-options="options"></div>
              </div>
              <!-- <input type="date" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy"  ng-model="cem.start_date"> -->
              <div style="display:inline-block; min-height: 290px;" class="date-pickers col-xs-3">
                <p><strong>End Date</strong></p>
                <div uib-datepicker ng-model="cem.end_date" class="well well-sm" datepicker-options="options"></div>
              </div>
              <!-- <input type="date" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy"  ng-model="cem.end_date"> -->
            </div>
          </div>
          <div class="modal-footer">
            <h3 class="alert-message col-xs-7" ng-model="cem.alertMessage" ng-if="cem.alerted">{{ cem.alertMessage }}</h2>
            <button class="btn btn-primary" type="button" ng-click="cem.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cem.cancel()">Cancel</button>
          </div>
      </script>

  </div>

</div>
