<div class="logo banner">
  EventFull
  <div class="logout">
    <h3 class="welcome welcome-home">Welcome {{ hc.userName }}!</h3>
  </div>
</div>
<div class="container upcoming-events">
  <h3>Upcoming Events</h3>
  <table>
    <th>
      <td>Id</td>
      <td>Name</td>
      <td>Description</td>
      <td>Start Date</td>
      <td>End Date</td>
      <td>Creator</td>
      <td>Created Date</td>
    </th>
      <tr ng-repeat="event in hc.currentEventsArray">
        <td>{{ event.id }}</td>
        <td>{{ event.name }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.startDate }}</td>
        <td>{{ event.endDate }}</td>
        <td>{{ event.creator }}</td>
        <td>{{ event.createdDate }}</td>
        <td><button type="button" ng-click="hc.viewEvent(event.id)" class="btn btn-info">View</button></td>
      </tr>
  </table>
</div>
<div class="container past-events" ng-if="hc.pastEventsArray.length">
  <h3>Past Events</h3>
  <table>
    <th>
      <td>Id</td>
      <td>Name</td>
      <td>Description</td>
      <td>Start Date</td>
      <td>End Date</td>
      <td>Creator</td>
      <td>Created Date</td>
    </th>
      <tr ng-repeat="event in hc.pastEventsArray">
        <td>{{ event.id }}</td>
        <td>{{ event.name }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.startDate }}</td>
        <td>{{ event.endDate }}</td>
        <td>{{ event.creator }}</td>
        <td>{{ event.createdDate }}</td>
        <td><button type="button" ng-click="hc.viewEvent(event.id)" class="btn btn-info">View</button></td>
      </tr>
  </table>
</div>
