<div class="logo banner">
  EventFull
</div>
<div class="container">
  <h3 class="welcome">Welcome to EventFull!</h3>
  <p class="welcome page-text">Please register below</p>
  <div class="login col-xs-8 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xs-offset-2 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
    <input type="text" placeholder="you@example.com" class="login-form" ng-model="rc.userCredentials.userEmail">
    <input type="password" placeholder="Password" class="login-form" ng-model="rc.userCredentials.password">
    <input type="password" placeholder="Retype Password" class="login-form" ng-model="rc.userCredentials.passwordRetype">
    <input type="text" placeholder="First Name" class="login-form" ng-model="rc.userCredentials.firstname">
    <input type="text" placeholder="Last Name" class="login-form" ng-model="rc.userCredentials.lastname">
    <div class="row">
      <button ng-click="rc.register()" type="button" class="register-button btn btn-info col-xs-10 col-xs-offset-1">Register</button>
    </div>
    <div class="row">
      <h4 class="alert-message">{{ rc.message }}</h4>
    </div>
  </div>

</div>
