<div class="container banner col-xs-12">
  <div class="go-back col-xs-2">
    <button type="button" class="btn btn-success" ng-click="rc.back()">Back</button>
  </div>
  <div class="logo col-xs-8">
    EventFULL
  </div>
</div>
<div class="container">
  <h3 class="welcome">Welcome to EventFULL!</h3>
  <p class="welcome page-text">Please register below</p>
  <div class="login col-xs-8 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xs-offset-2 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
    <input type="text" placeholder="you@example.com" class="login-form" ng-model="rc.userCredentials.user_email">
    <input type="password" placeholder="Password" class="login-form" ng-model="rc.userCredentials.user_password">
    <input type="password" placeholder="Retype Password" class="login-form" ng-model="rc.userCredentials.user_passwordRetype">
    <input type="text" placeholder="First Name" class="login-form" ng-model="rc.userCredentials.first_name">
    <input type="text" placeholder="Last Name" class="login-form" ng-model="rc.userCredentials.last_name">
    <div class="row">
      <button ng-click="rc.register()" type="button" class="register-button btn btn-info col-xs-10 col-xs-offset-1">Register</button>
    </div>
    <div class="row" ng-if="rc.message">
      <h4 class="alert-message">{{ rc.message }}</h4>
    </div>
  </div>
</div>
